.header {
  position: relative;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
}

.header_box {
  display: flex;
  place-items: center;
  padding: 2rem 0rem;
}

.header_box svg {
  z-index: 1;
}

.nav_button {
  margin-left: auto;
  background: none;
  border: none;
  z-index: 1;
}

/* .header_illustrations {
  display: flex;
  justify-content: center;
} */

.other {
  position: absolute;
  width: 350px;
  right: -60px;
  top: -33px;
}
.other2 {
  width: 350px;
  position: absolute;
  bottom: -0px;
  right: -200px;
}

.main_ill {
  z-index: 1;
  max-width: 300px;
  position: relative;
}

.header_content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header_title {
  font-size: 2.1rem;
  text-align: center;
  font-weight: 700;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: var(--primary-dark-blue);
}

.header_detail {
  max-width: 300px;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: var(--font);
  color: var(--dark-grayish-blue);
  z-index: 1;
  font-weight: 400;
}

.header_btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  margin: 1rem 0;
  background-color: var(--primary-bright-red);
  color: var(--very-pale-red);
  border: none;
  z-index: 1;
}

.class {
  display: flex;
  margin-top: -300px;
  position: absolute;
  right: 0;
}

.other3 {
  width: 300px;
  margin-left: auto;
  transform: translateX(50%);
}

@media screen and (min-width: 508px) {
  .other {
    width: 390px;
  }
}

@media screen and (min-width: 768px) {
 
  .header_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .other {
    width: 450px;
  }

  .header_illustrations {
    grid-column: 2/3;
  }

  .header_content {
    grid-area: 1/1;
  }

  .class {
    display: none;
  }

  .main_ill {
    width: 100%;
    max-width: none;
  }

  .nav_button {
    display: none;
  }

  .header_box {
    align-items: center;
  }

  .header_content {
    display: block;
    padding: 1rem 0;
  }

  .header_title {
    text-align: left;
    font-size: 3rem;
    width: 100%;
  }

  .header_detail {
    text-align: left;
    max-width: 400px;
  }
  
  .header_btn:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 7px 15px var(--primary-bright-red);
  }
}

@media screen and (min-width: 1008px) {
   .header{
    padding: 1rem 2rem;
  }
  .other {
    width: 600px;
  }
}
