.user_feedback{
  border: 1px solid;
  position: absolute;
  width: 100%;
  scroll-snap-align: center;
  height: 300px;
  background-color: var(--vary-light-gray);
  border-radius: 5px;
  
}

.second{
  transform: translateX(110%);
}

.third{
  transform: translateX(220%);
}

.four{
    transform: translateX(330%);
}

.user_pic {
  height: 100px;
  transform: translateY(-50%);
}

.user_pic img {
  height: 100%;
}

.user_name {
  color: var(--very-dark-Blue);
  /* padding: 1rem 0; */
  margin-top: -30px;
  padding: 0.5rem 0;
  color: var(--primary-dark-blue);
}

.user_testimony {
  padding: 1rem 1rem 2rem 1rem;
  line-height: 1.8rem;
  font-size: 1rem;
  color: var(--dark-grayish-blue);
}
