.info-header {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--primary-bright-red);
}

.info-title {
  max-width: 270px;
  font-size: 2.1rem;
  text-align: center;
  font-weight: 700;
  /* padding: 1rem 0; */
  line-height: 2.5rem;
  color: #ffffff;
}

.info-header button {
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-family: var(--font);
  font-weight: 600;
  border: none;
  color: var(--primary-bright-red);
  font-weight: 700;
  font-size: 0.875rem;
  background-color: #ffffff;
}

.footer {
  background-color: var(--primary-bright-red);
  background-color: var(--very-dark-Blue);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  max-width: 500px;
}

.input-text {
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 50px;
  margin-right: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  font-family: var(--font);
}

.input-text::placeholder {
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
  font-weight: 500;
}

.go_btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-left: auto;
  font-size: 1rem;
  border: none;
  background-color: var(--primary-bright-red);
  color: #ffffff;
  font-weight: 500;
  font-family: var(--font);
}

.navigation_links {
  display: flex;
  font-size: 1rem;
  padding: 2rem 0;
}

.navigation_main {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  margin-right: 7rem;
}

.navigation_main a {
  padding: 1rem 0;
  color: #ffffff;
  text-decoration: none;
  color: var(--vary-light-gray);
}

.navigation_other {
  display: flex;
  flex-direction: column;
}

.navigation_other a {
  padding: 1rem 0;
  color: hsl(0, 0%, 98%);
  font-weight: 500;
  color: var(--vary-light-gray);
  text-decoration: none;
}

.social_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.social_media_links {
  margin: 2rem 0;
  margin-top: 0;
}

.social_link img {
  height: 30px;
  margin-left: 1.5rem;
}

.copyright {
  color: var(--dark-grayish-blue);
  margin: 1.5rem 0;
  word-spacing: 3px;
  font-size: 1rem;
}

@media screen and (min-width: 808px) {
  .info-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    place-items: center;
    background-image: url("../../assets/bg-simplify-section-desktop.svg");
  }

  .info-header button {
    cursor: pointer;
  }

  .info-title {
    max-width: none;
    max-width: 400px;
    text-align: left;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    align-items: flex-start;
    grid-column-gap: 1rem;
  }

  .input-wrapper {
    max-width: none;
  }

  .input-text {
    width: 100%;
  }

  .footer_logo {
    grid-area: 1/1/1/1;
    margin-left: 1rem;
  }

  .navigation_links {
    grid-area: 1/2/3/3;
    padding: 0 1rem;
  }

  .navigation_links a {
    padding: 0 0 1rem 0;
  }

  .navigation_links a:hover {
    color: var(--primary-bright-red);
  }

  .social_link {
    margin: 0;
    justify-content: normal;
    align-items: normal;
    width: auto;
  }

  .social_media_links {
    margin: 0;
  }
  .social_link img {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .copyright {
    margin: 0;
  }

  .go_btn:hover {
    opacity: 0.7;
    cursor: pointer;
    background-color: rgba(246, 246, 246, 0.873);
  }
}
