.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.about_manage {
  margin-bottom: 2rem;
  max-width: 350px;
  text-align: center;
  z-index: 1;
}

.main_header {
  font-size: 2.1rem;
  padding: 1rem;
  color: var(--primary-dark-blue);
}

.main_content {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 1rem;
  color: var(--dark-grayish-blue);
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: normal;
    padding: 3rem 0;
  }

  .main::after {
    content: url('../../assets/bg-tablet-pattern.svg');
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    transform: translate(-150%, 130%);

  }
  .about_manage {
    max-width: none;
    text-align: left;
    padding: 1rem;
  }

  .main_header {
    max-width: 400px;
  }

  .main_content {
    max-width: 400px;
  }
}
