.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.about_manage {
  margin-bottom: 2rem;
  max-width: 350px;
  text-align: center;
  border: 1px solid;
  z-index: 1;
}

.main_header {
  font-size: 2rem;
  padding: 1rem;
  color: var(--primary-dark-blue);
}

.main_content {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 1rem;
  color: var(--dark-grayish-blue);
}
