.main_detail {
  border: 1px solid;
  /* padding: 1rem; */
}

.main_detail_section {
  margin: 1rem 0;
  padding: 1rem 0 1rem 1rem;
  border: 1px solid;
}

.main_detail_title {
  display: flex;
  align-items: center;
  background-color: #fff0ec;
  position: relative;
  font-size: 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-right: 3px;
  color: var(--primary-dark-blue);
}

.main_detail_title::before {
  content: "01";
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  color: #ffffff;
  background-color: var(--primary-bright-red);
  margin-right: 13px;
}

.one::before {
  content: "01";
}
.two::before {
  content: "02";
}
.three::before {
  content: "03";
}

.main_detail_content {
  color: var(--dark-grayish-blue);
  padding: 1rem 1rem 1rem 0;
  font-size: 1rem;
  line-height: 1.7rem;
}
